<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".KeramikGambarActivity"
            android:exported="false" />
        <activity
            android:name=".PelayananDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".KeramikAddActivity"
            android:exported="false" />
        <activity
            android:name=".PerajinEditActivity"
            android:exported="false" />
        <activity
            android:name=".SearchKeramikActivity"
            android:exported="false" />
        <activity
            android:name=".BalasanActivity"
            android:exported="false" />
        <activity
            android:name=".KomentarActivity"
            android:exported="false" />
        <activity
            android:name=".EventDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PerajinDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".PelayananActivity"
            android:exported="false" />
        <activity
            android:name=".PerajinActivity"
            android:exported="false" />
        <activity
            android:name=".EditAkunActivity"
            android:exported="false" />
        <activity
            android:name=".DetailsKeramikActivity"
            android:exported="false" />
        <activity
            android:name=".KeramikActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegistrasiActivity"
            android:exported="false"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
    </application>

</manifest>